@model List<Product>

@section heading {
	<h1>Products</h1>
}

@section Title {
					Create Product
}
@section styles {

    <!-- Theme toastr -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    }



<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Title</th>
				<th style="width: 40px">Image</th>
				<th style="width: 40px">Price</th>
				<th style="width: 40px">Quantity</th>
				<th>Category</th>
				<th>Description</th>
				

                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td >@item.Name</td>

                    <td style="width: 40px;">
                        <img src="/images/@item.Image" alt="@item.Name" style="width: 40px; height: 40px; object-fit: cover;" />
                    </td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@item.Category.Name</td>
                                     
					<td>@item.Description</td>

                     

                    <td>
                        <a type="button" class="btn  btn-outline-danger " href="/admin/products/delete/@item.Id">Delete</a>
                        <a type="button" class="btn  btn-outline-primary " href="/admin/products/Edit/@item.Id">Edit</a>
                    </td>
                </tr>
            }



        </tbody>
    </table>
</div>



@section script {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    @if (TempData["success"] != null)
    {
        <script>
            toastr.success('@TempData["success"]');
        </script>
    }
    @if (TempData["message"] != null)
    {
        <script>
            toastr.error('@TempData["message"]'); // لعرض رسالة الخطأ في حال عدم العثور على العنصر
        </script>
    }
}
